
## lihaiyan@wind-mobi.com 20171101 +++


config WIND_DEVICE_INFO
	bool "CONFIG_WIND_DEVICE_INFO"
	default N
	help
		Select y or n

source "drivers/misc/wind_driver/fingerprint/Kconfig"

## lihaiyan@wind-mobi.com 20171101 ---

